<a href="https://colab.research.google.com/github/CNordqui/Coursera_Capstone/blob/master/Week_3_Final_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook is Capria Nordquist's final assignment for Week 3 of the Applied Data Science Capstone Project Course

In [92]:
import pandas as pd
import numpy as np
#I copied the data from Wikipedia and then pasted it into an excel spreadsheet. And read it into the pandas dataframe here. 
df = pd.read_excel('Week Three Assignment.xlsx')
#Next, I dropped replaced all of the 'Not Assigned' statements that were most prevalent in the Borough with NaN
df = df.replace(r'Not assigned', np.NaN, regex=True)
#Here, I changed the header to the first row of the data by first grabbing the first row
new_header = df.iloc[0] 
#changing the data so it is all the data below the header row
df = df[1:]
#and making the switch to the header
df.columns = new_header
#I dropped all of the rows in which the Borough columned had values of "Not Assigned" or NaN
df.dropna(subset=['Borough'], inplace=True)
#Finally, printed the shape and the first 12 elements of the df
print(df.shape)
df.head(12)

(103, 3)

0  Postal Code  ...                                       Neighborhood
3          M3A  ...                                          Parkwoods
4          M4A  ...                                   Victoria Village
5          M5A  ...                          Regent Park, Harbourfront
6          M6A  ...                   Lawrence Manor, Lawrence Heights
7          M7A  ...        Queen's Park, Ontario Provincial Government
9          M9A  ...            Islington Avenue, Humber Valley Village
10         M1B  ...                                     Malvern, Rouge
12         M3B  ...                                          Don Mills
13         M4B  ...                    Parkview Hill, Woodbine Gardens
14         M5B  ...                           Garden District, Ryerson
15         M6B  ...                                          Glencairn
18         M9B  ...  West Deane Park, Princess Gardens, Martin Grov...

[12 rows x 3 columns]