<a href="https://colab.research.google.com/github/CNordqui/Coursera_Capstone/blob/master/Week_3_Final_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

This notebook is Capria Nordquist's final assignment for Week 3 of the Applied Data Science Capstone Project Course

In [104]:
import pandas as pd
import numpy as np
#I copied the data from Wikipedia and then pasted it into an excel spreadsheet. And read it into the pandas dataframe here. 
df1 = pd.read_excel('Week Three Assignment.xlsx')
#Next, I dropped replaced all of the 'Not Assigned' statements that were most prevalent in the Borough with NaN
df1 = df1.replace(r'Not assigned', np.NaN, regex=True)
#Here, I changed the header to the first row of the data by first grabbing the first row
new_header = df1.iloc[0] 
#changing the data so it is all the data below the header row
df1 = df1[1:]
#and making the switch to the header
df1.columns = new_header
#I dropped all of the rows in which the Borough columned had values of "Not Assigned" or NaN
df1.dropna(subset=['Borough'], inplace=True)
#Finally, printed the shape and the first 12 elements of the df
print(df1.shape)
df1.head(12)

(103, 3)

0  Postal Code  ...                                       Neighborhood
3          M3A  ...                                          Parkwoods
4          M4A  ...                                   Victoria Village
5          M5A  ...                          Regent Park, Harbourfront
6          M6A  ...                   Lawrence Manor, Lawrence Heights
7          M7A  ...        Queen's Park, Ontario Provincial Government
9          M9A  ...            Islington Avenue, Humber Valley Village
10         M1B  ...                                     Malvern, Rouge
12         M3B  ...                                          Don Mills
13         M4B  ...                    Parkview Hill, Woodbine Gardens
14         M5B  ...                           Garden District, Ryerson
15         M6B  ...                                          Glencairn
18         M9B  ...  West Deane Park, Princess Gardens, Martin Grov...

[12 rows x 3 columns]

In [102]:
import pandas as pd
#imported the website link csv into a dataframe
df2=pd.read_csv('http://cocl.us/Geospatial_data')
df2

    Postal Code   Latitude  Longitude
0           M1B  43.806686 -79.194353
1           M1C  43.784535 -79.160497
2           M1E  43.763573 -79.188711
3           M1G  43.770992 -79.216917
4           M1H  43.773136 -79.239476
..          ...        ...        ...
98          M9N  43.706876 -79.518188
99          M9P  43.696319 -79.532242
100         M9R  43.688905 -79.554724
101         M9V  43.739416 -79.588437
102         M9W  43.706748 -79.594054

[103 rows x 3 columns]

In [110]:
#Here, merged the first and second dataframe into one large dataframe called df_final
df_final=pd.merge(df1,df2)
df_final

    Postal Code           Borough  ...   Latitude  Longitude
0           M3A        North York  ...  43.753259 -79.329656
1           M4A        North York  ...  43.725882 -79.315572
2           M5A  Downtown Toronto  ...  43.654260 -79.360636
3           M6A        North York  ...  43.718518 -79.464763
4           M7A  Downtown Toronto  ...  43.662301 -79.389494
..          ...               ...  ...        ...        ...
98          M8X         Etobicoke  ...  43.653654 -79.506944
99          M4Y  Downtown Toronto  ...  43.665860 -79.383160
100         M7Y      East Toronto  ...  43.662744 -79.321558
101         M8Y         Etobicoke  ...  43.636258 -79.498509
102         M8Z         Etobicoke  ...  43.628841 -79.520999

[103 rows x 5 columns]